server:
  http_listen_port: 3101

positions:
  filename: /run/promtail/positions.yaml

clients:
  - url: ${loki_url}
    tenant_id: "${tenant_id}"
    headers:
      X-Scope-OrgID: "${tenant_id}"
    backoff_config:
      max_period: 5m
      max_retries: 10
      min_period: 500ms
    batchsize: 1048576
    batchwait: 1s
    timeout: 10s

scrape_configs:
  - job_name: kubernetes-pods
    pipeline_stages:
      - cri: {}
      - docker: {}
      - match:
          selector: '{namespace!=""}'
          stages:
            - labels:
                pod: __meta_kubernetes_pod_name
                namespace: __meta_kubernetes_namespace
                container: __meta_kubernetes_pod_container_name
                node: __meta_kubernetes_node_name

    kubernetes_sd_configs:
      - role: pod

    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_name]
        target_label: pod
      - source_labels: [__meta_kubernetes_namespace]
        target_label: namespace
      - replacement: /var/log/pods/*$1/*.log
        separator: /
        source_labels:
          - __meta_kubernetes_pod_uid
          - __meta_kubernetes_pod_container_name
        target_label: __path__
